# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
apache-airflow-providers-snowflake==5.2.0
apache-airflow-providers-amazon==8.15.0
snowflake-snowpark-python[pandas]==1.11.1
snowflake-ml-python==1.1.2
matplotlib==3.8.2
git+https://github.com/astronomer/astro-provider-snowflake.git